<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <title>Portfolio</title>
</head>
<body>
    <div class="container">
    <div class="row">
        <div class="col-6 bg-warning">fraise</div>
        <div class="col-6 bg-success">banene</div>
        <div {{ react_component('MyComponent', { fullName: 'Fabian' }) }}></div>
    </div>
</div>
</body>
</html>
